.col-xs-6
  .small-box.bg-aqua
    .inner
      %h3= number_to_currency @cost[:earned]
      %p Cost Stats
      %dl.dl-horizontal
        %dt Total Cost:
        %dd= number_to_currency @cost[:total]
        %dt Total Earned:
        %dd= number_to_currency @cost[:earned]
        %dt Total Pending:
        %dd= number_to_currency @cost[:pending]
        %dt Total Target:
        %dd= number_to_currency @cost[:target]

    .icon
      %i.ion.ion-bag
    %span.small-box-footer{:href => "#"}
      %i.fa.fa-info-circle
      = number_to_percentage(percent(@cost[:earned], @cost[:target]), precision: 2)
      of money target achieved
.col-xs-6
  .small-box.bg-green
    .inner
      %h3
        = @item[:sold]
      %p
        Item Stats        
        %dl.dl-horizontal
          %dt Sold:
          %dd= @item[:sold]
          %dt In Stock:
          %dd= @item[:in_stock]
          %dt Reserved:
          %dd= @item[:reserved]
          %dt Damaged:
          %dd= @item[:damaged]
          %dt Total Items:
          %dd= @item[:total]
    .icon
      %i.ion.ion-stats-bars
    %span.small-box-footer{:href => "#"}
      %i.fa.fa-info-circle
      = number_to_percentage(percent(@item[:sold], @item[:total]), precision: 2)
      target achieved
