#login-box.form-box
  .header Resend confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .body.bg-gray
      .form-group
        = f.label :email, autofocus: true, placeholder: "Email", class: "form-control"
    .footer
      = f.submit "Resend confirmation instructions", class: "btn bg-olive btn-block"
      = render "admins/shared/links"