.col-md-6
  .box{class: "#{@customer.errors.any? ? 'box-danger' : 'box-primary'}"}
    .box-header
      %h3.box-title #{action_name.capitalize} #{controller_name.singularize.capitalize}
    / /.box-header
    .box-body
      = form_for @customer, :role => "form" do |f|
        = render "shared/form_errors", obj: @customer
        / text input
        .form-group
          %label Name
          = f.text_field :name, class: "form-control"
        .form-group
          %label Email
          .input-group
            .input-group-addon
              %i.fa.fa-envelope
            = f.text_field :email, class: "form-control"
        .form-group
          %label Phone
          .input-group
            .input-group-addon
              %i.fa.fa-phone
            = f.text_field :phone, class: "form-control"

        = f.submit 'Save', class: "btn btn-primary"
        = link_to 'Back', customers_path, class: "btn btn-warning"