.col-md-6
  .box{class: "#{@item.errors.any? ? 'box-danger' : 'box-primary'}"}
    .box-header
      %h3.box-title #{action_name.capitalize} #{controller_name.singularize.capitalize}
    / /.box-header
    .box-body
      = form_for @item, :role => "form" do |f|
        = render "shared/form_errors", obj: @item
        / text input
        .form-group
          %label Customer
          = f.select :customer_id, Customer.select_options, {prompt: 'Select'}, {class: "form-control"}
        .form-group
          %label Size
          = f.select :size, Item.size_options, {prompt: 'Select'}, {class: "form-control"}
        .form-group
          %label Code
          = f.text_field :code, class: "form-control"
        .form-group
          %label Whole Sale Price (Price at which you bought)
          .input-group
            %span.input-group-addon ₹
            = f.text_field :wholesale_price, class: "form-control"
        .form-group
          %label Retail Price (Price at which you have to sell)
          .input-group
            %span.input-group-addon ₹
            = f.text_field :retail_price, class: "form-control"
        .form-group
          %label Selling Price (Price at which you sold)
          .input-group
            %span.input-group-addon ₹
            = f.text_field :selling_price, class: "form-control"
        .form-group
          %label Status
          = f.select :status, Item.status_options, {}, {class: "form-control"}
        .form-group
          %label Paid Amount (How much amout did the customer pay)
          .input-group
            %span.input-group-addon ₹
            = f.text_field :paid_amount, class: "form-control"
        .form-group
          %label Payment Status
          = f.select :payment_status, Item.payment_status_options, {prompt: 'Select'}, {class: "form-control"}
        .form-group
          %label Description
          = f.text_area :description, class: "form-control"
        .form-group
          %label{:for => "exampleInputFile"} Photo file input
          = f.file_field :photo, id: "exampleInputFile"
          %p.help-block Upload item photo

          = f.submit 'Save', class: "btn btn-primary"
          = link_to 'Back', items_path, class: "btn btn-warning"