.col-xs-12
  .box
    .box-header
      %h3.box-title Listing items
    /.box-header
    .box-body.table-responsive
      %table#items.table.table-bordered.table-striped
        %thead
          %tr
            %th Photo
            %th Code
            %th Size
            %th WP
            %th MRP
            %th SP
            %th Status
            %th Payment status
            %th Paid amount
            %th Customer
            %th Actions
        %tbody
          - @items.each do |item|
            = render "photo", item: item
            %tr
              %td= link_to (image_tag item.photo.url(:mini_thumb)), "#photo", "data-target" => "#item-photo-#{item.id}", "data-toggle" => "modal"

              %td= link_to_if item.code.present?, item.code, item_path(item)
              %td= Item::SIZES[item.size.try(:to_sym)]
              %td= number_to_currency item.wholesale_price
              %td= number_to_currency item.retail_price
              %td= number_to_currency item.selling_price
              %td= status_label item.status, Item::STATUSES[item.status.to_sym]
              %td
                - if item.payment_status.present?
                  = status_label item.payment_status, Item::PAYMENT_STATUSES[item.payment_status.to_sym]
              %td= number_to_currency item.paid_amount
              %td
                - if item.customer.present?
                  = link_to item.customer.name, item.customer
              %td
                = link_to item do
                  %span.fa.fa-desktop
                = link_to edit_item_path(item) do
                  %span.fa.fa-pencil-square-o
                = link_to item, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                  %span.fa.fa-trash-o
          %tfoot
            %tr
              %th Photo
              %th Code
              %th Size
              %th WP
              %th MRP
              %th SP
              %th Status
              %th Payment status
              %th Paid amount
              %th Customer
              %th Actions
  = link_to 'New Item', new_item_path, class: "btn btn-primary"
  = link_to 'Upload Items', upload_items_path, class: "btn btn-success"

%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"}
%script{:src => "/assets/datatables/jquery.dataTables.js", :type => "text/javascript"}
%script{:src => "/assets/datatables/dataTables.bootstrap.js", :type => "text/javascript"}
:javascript
  $(function() {
      $('#items').dataTable({
          "bPaginate": true,
          "bLengthChange": true,
          "bFilter": true,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
      });
  });