.col-md-6
  .box.box-solid
    .box-header
      %i.fa.fa-desktop
      %h3.box-title= @item.code
    / /.box-header
    .box-body
      %p#notice= notice
      %dl.dl-horizontal
        %dt Token
        %dd= @item.token
        %dt Size
        %dd= Item::SIZES[@item.size.to_sym]
        %dt Code
        %dd= @item.code
        %dt Wholesale price:
        %dd= number_to_currency @item.wholesale_price, unit: "₹"
        %dt Retail price:
        %dd= number_to_currency @item.retail_price, unit: "₹"
        %dt Selling price:
        %dd= number_to_currency @item.selling_price, unit: "₹"
        %dt Discount:
        %dd= number_to_percentage @item.discount, precision: 2
        %dt Status:
        %dd= status_label @item.status, Item::STATUSES[@item.status.to_sym]
        %dt Payment status:
        %dd
          - if @item.payment_status.present?
            = status_label @item.payment_status, Item::PAYMENT_STATUSES[@item.payment_status.to_sym]
        %dt Customer:
        %dd
          - if @item.customer
            = link_to @item.customer.try(:name), customer_path(@item.customer)
        %dt Paid amout:
        %dd= number_to_currency @item.paid_amount, unit: "₹"
        %dt Description:
        %dd= @item.description
      = link_to 'Edit', edit_item_path(@item), class: "btn btn-primary"
      = link_to 'Back', items_path, class: "btn btn-warning"
.col-md-6
  .box.box-solid
    .box-header
      %i.fa.fa-camera
      %h3.box-title #{@item.code} Photo
    .box-body.text-center
      =image_tag @item.photo.url(:medium)