.col-md-12
  .box{class: "box-primary"}
    .box-header
      %h3.box-title 
        #{action_name.capitalize} #{controller_name.singularize.capitalize}
        (You can upload coded filename or normal photos)
    .box-body
      = form_for Item.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
        .form-group
          %label{:for => "exampleInputFile"} 
            Photo file input
          = f.file_field :uploads, multiple: true, id: "exampleInputFile"
          %p.help-block 
            e.g: BlueKurti_DGBE007_234
            %br
            name_code_wholesaleprice            
          = f.submit 'Start Upload', class: "btn btn-primary"
          = link_to 'Cancel Upload', items_path, class: "btn btn-warning"
