!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Ensigns
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src: "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}
  %body.skin-blue
    / header logo: style can be found in header.less
    %header.header
      %a.logo{:href => "index.html"}
        / Add the class icon to your logo image or logo icon to add the margining
        Admin Ensigns
      / Header Navbar: style can be found in header.less
      %nav.navbar.navbar-static-top{:role => "navigation"}
        / Sidebar toggle button
        %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-right
          = render "shared/top_menu"
    .wrapper.row-offcanvas.row-offcanvas-left
      / Left side column. contains the logo and sidebar
      %aside.left-side.sidebar-offcanvas
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / Sidebar user panel
          .user-panel
            .pull-left.image
              %img.img-circle{:alt => "User Image", :src => "assets/avatar5.png"}/
            .pull-left.info
              %p Hello, Jane
              %a{:href => "#"}
                %i.fa.fa-circle.text-success
                Online
          / search form
          %form.sidebar-form{:action => "#", :method => "get"}
            .input-group
              %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}/
              %span.input-group-btn
                %button#search-btn.btn.btn-flat{:name => "seach", :type => "submit"}
                  %i.fa.fa-search
          / /.search form
          = render "shared/side_menu"
        / /.sidebar
      / Right side column. Contains the navbar and content of the page
      %aside.right-side
        / Content Header (Page header)
        %section.content-header
          %h1
            Dashboard
            %small Control panel
          %ol.breadcrumb
            %li
              %a{:href => "#"}
                %i.fa.fa-dashboard
                Home
            %li.active Dashboard
        / Main content
        %section.content
          / Small boxes (Stat box)
          .row            
            =# render "shared/dashboard"
            = yield
      / /.right-side
    / ./wrapper