!!!
%html
  %head
    %meta{:charset => "UTF-8"}
    %title Ensigns
    = stylesheet_link_tag    'application', media: 'all' #, 'data-turbolinks-track' => true
    = javascript_include_tag 'application' #, 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %script{src: "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
    %script{src: "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}
  %body.skin-blue
    %header.header
      = link_to root_path, class: "logo" do
        Admin Ensigns
      %nav.navbar.navbar-static-top{:role => "navigation"}
        / Sidebar toggle button
        %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-right
          = render "shared/top_menu"
    .wrapper.row-offcanvas.row-offcanvas-left
      %aside.left-side.sidebar-offcanvas
        %section.sidebar
          .user-panel
            .pull-left.image
              %img.img-circle{:alt => "Admin Image", :src => admin_image_path}
            .pull-left.info
              %p
                Hello, #{current_admin.name}
              %a{:href => "#"}
                = Date.today.to_s(:report_long)
          = render "shared/search"
          = render "shared/side_menu"
      %aside.right-side
        = render "shared/content_header"
        %section.content
          .row
            = render "shared/alerts"
            =# render "shared/dashboard"
            = yield